@font-face {
  font-family: Naruto;
  src: url(njnaruto.ttf);
}
html {
  /* color: whitesmoke;
  background: #ffffff; */
}
body {
  /* height: 200vh; */
}
.image {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
  vertical-align: bottom;
  /* mix-blend-mode: multiply; */
}
.section1 {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(#21313c, #4f3e5b, #9a485a, #c94a3e);
}
.section2 {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(#21313c, #4f3e5b);
}
.section3 {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(#21313c, #4f3e5b);
}
.section4 {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(#21313c, #4f3e5b);
}
section {
  position: relative;
}
.layer {
  width: 100vw;
  position: absolute;
  z-index: 0;
}
.layer1 {
  width: 100vw;
  position: absolute;
  z-index: 1;
}
.layer2 {
  width: 100vw;
  position: absolute;
  z-index: 2;
}
.layer3 {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: left;
  position: absolute;
  z-index: 3;
  color: #f0ece9;
  font-size: 70px;
  font-family: "Naruto";
}
.lokesh {
  padding: 100px;
  width: 50vw;
}
.reddy {
  padding: 100px;
  text-align: right;
  width: 50vw;
}
.webgl1 {
  z-index: 0;
}
.webgl {
  z-index: 1;
}
